.app-input {
    width: 100%;
    padding: 10px;
}

.app-input__element {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#f3f3f3;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;

    transition: background-color .15s ease-in-out;

    &:focus {
        outline: none;
        background-color: #fff;
    }
}

.app-input__label {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.invalid {
    border: 1px solid red;
    background-color: #fda49a;
}