.navigation-wrapper {
    height: 100%;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}

.navigation__item {
    height: 100%;
}

.navigation__link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    height: 100%;
    width: 100%;

    &:active,
    &:hover,
    &.active {
        background-color: #f3f3f3;
    }
}