.app-button {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: inherit;

    transition: background-color .15s ease-in-out;

    &:disabled {
        color: #ccc;
        cursor: not-allowed;
    }

    &.success {
        background-color: #f0f0f0;

        &:hover { 
            background-color: #e9e9e9;
        }
    }

    &.danger {
        color: #944317;
    }
}



