@import '../../sass/variables';

.auth {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    width: 100%;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    color: #313131;
    min-width: 250px;
    max-width: 100%;
    text-align: left;

    @media ($w420) {
        width: 80%;
    }

    @media ($w580) {
        padding: 20px;
        max-width: 450px;
        margin: 40px auto;
        width: 80%;
    }
}

.auth__error { 
    padding: 10px;
    margin: 0;
    color: rgb(250, 64, 64)
}

.buttonsWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
        width: 50%;
        max-width: 200px;
    }
}